/* Styling for Yala National Park page */

@media(min-width: 700px) and (max-width: 1700px){
    body{
        width: 100%;
        height: auto;
        background-image: linear-gradient(rgba(255, 254, 254, 0.903),rgba(255, 255, 255, 0.65));
        background-size: cover;
        background-position : center;
        padding: 10px 10%;
    }
    
    /* Resetting default margin and padding */
    body, ul {
        margin: 0;
        padding: 0;
    }
    
    /* Styling the navbar for all pages */
    .nav{
        display: inline-block;
        padding: 16px;
        margin-left: 60px;
        font-size: 23px;
        margin-top: 18px;
    
    }
    .navbar {
        overflow: hidden;
        
    }
    
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .navbar a:link{
        color: white;
    }
    
    .navbar a:hover{
        color: green;
        background-color: rgb(199, 214, 156);
        padding: 15px;
    }
    
    .navbar a:visited{
        color: rgb(111, 148, 102);
    }
    nav ul li{
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .logohome{
        cursor: pointer;
        width: 100px;
        height: 80px;
        position: absolute;
        top: 18px;
        left: 20px;
        background-color: black;
      }
      header{
        display: flex;
        justify-content: space-between;
      }
      
    .logoandnav{
        box-sizing: border-box;
        width: auto; 
        height: 90px; 
        background-color: rgb(36, 51, 33);
      }
       
      .logosize{
          cursor:pointer;
          width:100px;
          height:100px;
          text-align: left;
          margin-left: 10px;
      }


.h2{
    text-align: center;
    color: rgb(3, 51, 34);
    padding: 15px;
    width: 100%;
    background-color: rgba(62, 120, 77, 0.415);
    
}
.h1{
    text-align: center;
    font-size: 40px;
    color: rgb(3, 49, 33);
    padding: 10px;
    width: 100%;
    background-color: rgb(112, 138, 85);
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Animation */
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%; 
    }
  
    to {
        margin-left: 0%;
        width: 100%;
    }
}

#intro img {
    animation: slidein 2s;
}


/* editing the paragraphs and images */
.parashome{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    width:fit-content;
    font-weight: bold;
    margin-left:  20px;
    margin-right: 20px;
    
}
.yalaimg{
    width: 100%;
    height: auto;
}

} 
